.container {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  padding: 0 10.4%;
}

.contents-container {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  padding: 0 5%;
}

.logo {
  width: 85px;
  height: 25.3px;
  object-fit: contain;
}

.hover-btn1:hover {
  background-color: #73ca80;
  transition: background-color 0.15s ease-in-out;
}

.hover-btn1:focus {
  background-color: #73ca80;
  transition: background-color 0.15s ease-in-out;
}

.hover-btn2:hover {
  background-color: #ffed4d;
  transition: background-color 0.15s ease-in-out;
}

.hover-btn2:focus {
  background-color: #ffed4d;
  transition: background-color 0.15s ease-in-out;
}

.display-Hcenter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* 중앙 정렬 */
.display-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-scroll {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
