.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.modal>section {
    width: 94%;
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 28px;
    border-radius: 6px;
    background-color: #fff;
    animation: modal-show 0.3s;
    overflow: hidden;
}

.modal>section>header {
    position: relative;
    padding: 16px 64px 16px 16px;
    font-weight: 500;
}

.modal>section>header button {
    position: absolute;
    top: 14px;
    right: 16px;
    width: 32px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
}

.modal>section>main {
    margin: 16px 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.modal.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show 0.3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes modal-bg-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}