@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap');

.App {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    /* width: 640px; */
    /* height: 100%; */
    color: #333;

    /* --width: 640px; */
    --maincolor: #64BE72;
    --subcolor: #F9FDF9;
    --pointcolor: #FF6565;
    --gray1: #EBEBEB;
    --gray2: #D9D9D9;
    --gray3: #ADADAD;
    --gray4: #979797;

    font-family: 'Noto Sans KR', sans-serif;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}