.swal2-popup {
  width: 25em;
}

.swal2-actions {
  width: 90%;
  flex-wrap: nowrap;
}

.swal2-styled.swal2-confirm {
  width: 100%;
}

.swal2-styled.swal2-default-outline:focus {
  box-shadow: none;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none;
}

.swal2-styled.swal2-cancel {
  width: 100%;
}
